tk

tcl

# Compiled Go binaries (produced by go build ./demos/name/ in the repo root)
/anilabel
/aniwave
/arrow
/bind
/bitmap
/button
/check
/clrpick
/colors
/combo
/cscroll
/ctext
/dialog1
/dialog2
/entry1
/entry2
/entry3
/filebox
/floor
/fontchoose
/form
/goldberg
/hscale
/icon
/image1
/image2
/items
/knightstour
/label
/labelframe
/mclist
/menu
/menubu
/msgbox
/paned1
/paned2
/pendulum
/plot
/print
/puzzle
/radio
/ruler
/sayings
/search
/spin
/states
/style
/systray
/text
/textpeer
/toolbar
/tree
/ttkbut
/ttkmenu
/ttknote
/ttkpane
/ttkprogress
/ttkscale
/ttkspin
/twind
/unicodeout
/vscale
/widget_demo
/windowicons
